In [24]:
import os, json
import pandas as pd
from sqlalchemy import create_engine

##### Extracting CSVs into Pandas Data Frames

In [125]:
# Reading Mexico csv
mx_file = "Resources/MXvideos.csv"
mx_df = pd.read_csv(mx_file, encoding = "utf8")

# Adding country name column
mx_df['country_name'] = 'Mexico'

# Printing dataframe
mx_df.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country_name
0,SbOwzAl9ZfQ,17.14.11,Cap√≠tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,"MasterChef Junior 2017|""TV Azteca""|""recetas""|""...",310130,4182,361,1836,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,False,False,False,Disfruta la presencia del Chef Torreblanca en ...,Mexico
1,klOV6Xh-DnI,17.14.11,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,La Voz Mexico 7,104972,271,174,369,https://i.ytimg.com/vi/klOV6Xh-DnI/default.jpg,False,False,False,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Mexico
2,6L2ZF7Qzsbk,17.14.11,LOUIS CKAG√ì - EL PULSO DE LA REP√öBLICA,El Pulso De La Rep√∫blica,25,2017-11-13T17:00:02.000Z,"Chumel Torres|""El Pulso de la Republica""|""noti...",136064,10105,266,607,https://i.ytimg.com/vi/6L2ZF7Qzsbk/default.jpg,False,False,False,La canci√≥n del principio se llama ‚ÄúEste esp√≠ri...,Mexico

In [93]:
# Reading US csv
us_file = "Resources/USvideos.csv"
us_df = pd.read_csv(us_file)

# Adding country name column
us_df['country_name'] = 'United States'

# Printing dataframe
us_df.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country_name
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,United States
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",United States
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...,United States

In [94]:
# Reading Canada csv
ca_file = "Resources/CAvideos.csv"
ca_df = pd.read_csv(ca_file)

# Adding country name column
ca_df['country_name'] = 'Canada'

# Printing dataframe
ca_df.head(3)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country_name
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...,Canada
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,Canada
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ‚ñ∂ \n\nSUBSCRIBE ‚ñ∫ http...,Canada

In [175]:
append_1 = mx_df.append(us_df)
append_2 = append_1.append(ca_df)

append_2.shape

(122281, 17)

In [178]:
dropped_series = append_2["channel_title"].drop_duplicates()
dropped_series.shape

(12472,)

In [214]:
# Creating channel catalog
channel_catalog = pd.DataFrame(dropped_series).reset_index(drop = True)
channel_catalog['channel_id'] = channel_catalog.index
channel_catalog.head(3)

              channel_title  channel_id
0           MasterChef 2017           0
1  Micky Contreras Martinez           1
2  El Pulso De La Rep√∫blica           2

In [220]:
# Creating video table
video_table = append_2[["video_id", 
                        "title", 
                        "channel_title", 
                        "category_id", 
                        "publish_time", 
                        "description", 
                        "thumbnail_link"]]
video_table

,video_id,title,channel_title,category_id,publish_time,description,thumbnail_link
0,SbOwzAl9ZfQ,Cap√≠tulo 12 | MasterChef 2017,MasterChef 2017,24,2017-11-13T06:06:22.000Z,Disfruta la presencia del Chef Torreblanca en ...,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg
1,klOV6Xh-DnI,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,Micky Contreras Martinez,22,2017-11-13T05:11:58.000Z,ALEXA EX-INTEGRANTE DEL GRUPO TIMBIRICHE RENUN...,https://i.ytimg.com/vi/klOV6Xh-DnI/default.jpg
2,6L2ZF7Qzsbk,LOUIS CKAG√ì - EL PULSO DE LA REP√öBLICA,El Pulso De La Rep√∫blica,25,2017-11-13T17:00:02.000Z,La canci√≥n del principio se llama ‚ÄúEste esp√≠ri...,https://i.ytimg.com/vi/6L2ZF7Qzsbk/default.jpg
3,hcY52MFWMDM,Sismo de 6.7 sacude Costa Rica 12 Noviembre 2017,Casanare,25,2017-11-13T03:47:10.000Z,El video es de un Walmart en el pais centroame...,https://i.ytimg.com/vi/hcY52MFWMDM/default.jpg
4,_OXDcGPVAa4,DOG HACKS | MUSAS LESSLIE LOS POLINESIOS,Musas,26,2017-11-13T19:17:48.000Z,MI HERMANO NARRA MI RUTINA DE MAQUILLAJE\nhttp...,https://i.ytimg.com/vi/_OXDcGPVAa4/default.jpg
...,...,...,...,...,...,...,...
40876,sGolxsMSGfQ,HOW2: How to Solve a Mystery,Annoying Orange,24,2018-06-13T18:00:07.000Z,üö® NEW MERCH! http://amzn.to/annoyingorange üö®‚û§ ...,https://i.ytimg.com/vi/sGolxsMSGfQ/default.jpg
40877,8HNuRNi8t70,Eli Lik Lik Episode 13 Partie 01,Elhiwar Ettounsi,24,2018-06-13T19:01:18.000Z,‚ñ∫ Retrouvez vos programmes pr√©f√©r√©s : https://...,https://i.ytimg.com/vi/8HNuRNi8t70/default.jpg
40878,GWlKEM3m2EE,KINGDOM HEARTS III ‚Äì SQUARE ENIX E3 SHOWCASE 2...,Kingdom Hearts,20,2018-06-11T17:30:53.000Z,Find out more about Kingdom Hearts 3: https://...,https://i.ytimg.com/vi/GWlKEM3m2EE/default.jpg
40879,lbMKLzQ4cNQ,Trump Advisor Grovels To Trudeau,The Young Turks,25,2018-06-13T04:00:05.000Z,Peter Navarro isn‚Äôt talking so tough now. Ana ...,https://i.ytimg.com/vi/lbMKLzQ4cNQ/default.jpg
40880,POTgw38-m58,„ÄêÂÆåÊï¥Áâà„ÄëÈÅáÂà∞ÊÅêÊÄñÊÉÖ‰∫∫Ë©≤ÊÄéÈ∫ºËæ¶Ôºü2018.06.13Â∞èÊòéÊòüÂ§ßË∑üÁè≠,ÊàëÊÑõÂ∞èÊòéÊòüÂ§ßË∑üÁè≠,24,2018-06-13T16:00:03.000Z,Ëóù‰∫∫ÔºöÊùéÂ¶çÁëæ„ÄÅÁéâÂÖî„ÄÅÁè≠ÂÇë„ÄÅLaLa„ÄÅÂ∞èÂÑ™„ÄÅÂ∞ëÂ∞ëÂ∞àÂÆ∂ÔºöÈô≥Á≠±Â±è(ÂæãÂ∏´)„ÄÅWendy(ÂøÉÁêÜÂ∏´)„ÄÅÁæÖ...,https://i.ytimg.com/vi/POTgw38-m58/default.jpg

In [221]:
# Merging video table with channel catalog in order to add channel_id and dropping channel_title
video_plus_channel = pd.merge(video_table, channel_catalog, how = "inner", on = "channel_title")
video_plus_channel = video_plus_channel.drop(["channel_title"], axis = 1)
video_plus_channel = video_plus_channel.drop_duplicates(["video_id"])

video_plus_channel.head(3)

,video_id,title,category_id,publish_time,description,thumbnail_link,channel_id
0,SbOwzAl9ZfQ,Cap√≠tulo 12 | MasterChef 2017,24,2017-11-13T06:06:22.000Z,Disfruta la presencia del Chef Torreblanca en ...,https://i.ytimg.com/vi/SbOwzAl9ZfQ/default.jpg,0
2,vVioMPhM3NE,¬°Inicia la rivalidad en MasterChef 2017!,24,2017-11-16T18:12:28.000Z,Los participantes de MasterChef 2017 competir√°...,https://i.ytimg.com/vi/vVioMPhM3NE/default.jpg,0
3,eWhpTWkUpIU,¬øQu√© suceder√° este domingo en la cocina de Mas...,24,2017-11-17T18:08:55.000Z,Veremos un reto de campo que se llevar√° a cabo...,https://i.ytimg.com/vi/eWhpTWkUpIU/default.jpg,0

In [171]:
# Creating video analytics table
video_analytics_table = append_2[["video_id", 
                                  "views",
                                  'likes', 
                                  'dislikes', 
                                  'comment_count',
                                  'comments_disabled', 
                                  'ratings_disabled',
                                  "video_error_or_removed", 
                                  "country_name"]]

video_analytics_table.head(3)

,video_id,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,country_name
0,SbOwzAl9ZfQ,310130,4182,361,1836,False,False,False,Mexico
1,klOV6Xh-DnI,104972,271,174,369,False,False,False,Mexico
2,6L2ZF7Qzsbk,136064,10105,266,607,False,False,False,Mexico

##### Reading JSON files

In [140]:
# Reading US json file
with open("Resources/US_category_id.json") as x:
    data = json.load(x)

# Creating empty lists
id_list = []
title_list = []

for item in data["items"]:
    id_cat = int(item["id"])
    cat_title = item["snippet"]["title"]
    
    id_list.append(id_cat)
    title_list.append(cat_title)

In [141]:
# Creating US categories dataframe
us_categories_df = pd.DataFrame({"category_id": id_list, 
                             "category_name": title_list})

us_categories_df

    category_id          category_name
0             1       Film & Animation
1             2       Autos & Vehicles
2            10                  Music
3            15         Pets & Animals
4            17                 Sports
5            18           Short Movies
6            19        Travel & Events
7            20                 Gaming
8            21          Videoblogging
9            22         People & Blogs
10           23                 Comedy
11           24          Entertainment
12           25        News & Politics
13           26          Howto & Style
14           27              Education
15           28   Science & Technology
16           29  Nonprofits & Activism
17           30                 Movies
18           31        Anime/Animation
19           32       Action/Adventure
20           33               Classics
21           34                 Comedy
22           35            Documentary
23           36                  Drama
24           37                 Family
25           38                Foreign
26           39                 Horror
27           40         Sci-Fi/Fantasy
28           41               Thriller
29           42                 Shorts
30           43                  Shows
31           44               Trailers

In [134]:
with open("Resources/CA_category_id.json") as x:
    data = json.load(x)

# Creating empty lists
id_list = []
title_list = []

for item in data["items"]:
    id_cat = int(item["id"])
    cat_title = item["snippet"]["title"]
    
    id_list.append(id_cat)
    title_list.append(cat_title)

In [96]:
ca_categories_df = pd.DataFrame({"category_id": id_list, 
                             "category_name": title_list})

In [135]:
with open("Resources/MX_category_id.json") as x:
    data = json.load(x)

# Creating empty lists
id_list = []
title_list = []

for item in data["items"]:
    id_cat = int(item["id"])
    cat_title = item["snippet"]["title"]
    
    id_list.append(id_cat)
    title_list.append(cat_title)

In [136]:
mx_categories_df = pd.DataFrame({"category_id": id_list, 
                             "category_name": title_list})

mx_categories_df

    category_id         category_name
0             1      Film & Animation
1             2      Autos & Vehicles
2            10                 Music
3            15        Pets & Animals
4            17                Sports
5            18          Short Movies
6            19       Travel & Events
7            20                Gaming
8            21         Videoblogging
9            22        People & Blogs
10           23                Comedy
11           24         Entertainment
12           25       News & Politics
13           26         Howto & Style
14           27             Education
15           28  Science & Technology
16           30                Movies
17           31       Anime/Animation
18           32      Action/Adventure
19           33              Classics
20           34                Comedy
21           35           Documentary
22           36                 Drama
23           37                Family
24           38               Foreign
25           39                Horror
26           40        Sci-Fi/Fantasy
27           41              Thriller
28           42                Shorts
29           43                 Shows
30           44              Trailers

In [210]:
#  Verifying categories are the same across the three countries
append_3 = mx_categories_df.append(us_categories_df)
append_4 = append_3.append(ca_categories_df)
final_json = append_4.drop_duplicates(subset = "category_name").sort_values(by = "category_id", ascending = True)
final_json.shape

(31, 2)

##### Creating Database Connection

In [200]:
connection_string = "postgres:Liev1912@localhost:5432/youtube_db"
engine = create_engine(f'postgresql://{connection_string}')

In [211]:
engine.table_names()

['Channel_catalog', 'Trending_videos', 'Category_catalog', 'Analytics']

##### Loading Dataframes into the database

In [208]:
channel_catalog.to_sql(name = "Channel_catalog", con = engine, if_exists = "append", index = False)

In [209]:
final_json.to_sql(name = "Category_catalog", con = engine, if_exists = "append", index = False)

In [223]:
video_plus_channel.to_sql(name = "Trending_videos", con = engine, if_exists = "append", index = False)

In [224]:
video_analytics_table.to_sql(name = "Analytics", con = engine, if_exists = "append", index = False)

##### Querying all data to check loading

In [248]:
# Which channels have more views? 
query_1 = pd.read_sql_query('select channel_id, count (*) from "Trending_videos" group by channel_id', con = engine)
query_1 = query_1.sort_values(by = "count", ascending = False)
query_1

       channel_id  count
12340         326    176
2409         4208    171
6367           50    169
1535         2902    165
5089         6530    160
...           ...    ...
5284        11215      1
5283        11256      1
5282         6848      1
5278         2843      1
12400        2850      1

[12401 rows x 2 columns]

In [258]:
# Which video has more views? 
query_2 = pd.read_sql_query('select max(views) from "Analytics"', con = engine)

print(query_2)

query_3 = pd.read_sql_query('select * from "Analytics" where views = 225211923', con = engine)
query_3

         max
0  225211923

,video_id,views,likes,dislikes,comment_count,comments_disabled,ratings_disabled,video_error_or_removed,country_name
0,VYOjWnS4cMY,225211923,5023450,343541,517232,False,False,False,United States